.container {
    max-width: 1160px;
    margin: 0 auto;
}

.form-container {
    width: 544px;
    margin: 0 auto;
}

/*.header {*/
/*    background: url("../img/background/section-1(header).jpg") fixed center no-repeat;*/
/*    background-size: cover;*/
/*    height: 1012px;*/
/*    margin-bottom: 8px;*/
/*}*/

.header_navbar {
    position: fixed;
    background: rgba(94, 93, 88, 0.6);
    width: 100%;
}

.header_navbar_add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
}

.header_navbar_icon {
    display: flex;
    align-items: center;
}

.header_navbar_icon_letter {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    background: #18CFAB;
    width: 58px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin-right: 6px;

}

.header_navbar_icon_word {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.header_navbar_icon_word_color {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #18CFAB;
}

.header_navbar_list {
    display: flex;
    align-items: center;

}

.header_navbar_list_item {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-right: 21px;
}


.header_navbar_list_item:last-child {
    margin: 0;
}

.header_navbar_list_item_link {
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    position: relative;
}

.header_navbar_list_item_link:before {
    content: "";
    position: absolute;
    height: 2px;
    background: #18CFAB;
    bottom: -51px;
    width: 0;
}

.header_navbar_list_item_link:hover:before {
    width: 100%;
    transition: .5s;
}

.header_navbar_list_item_link:hover {
    color: #18CFAB;
    transition: 1s;
}


.active-link {
    color: #18CFAB;
}

.main_background3 {
    background: url("../img/background/section-3.jpg") fixed center no-repeat;
    height: 100vh;
    background-size: cover;

}

.dark_block2 {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;

}

.center-block {
    width: 100%;
    height: calc(100vh - 10px);
    display: flex;
    justify-content: center;
    align-items: end;
}

.main_content {
    width: 666px;
    background: #000000b3;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;

}

.main_text {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 21px;
    margin-bottom: 35px;
}

.main_text_title {
    color: white;
    font-size: 30px;
    line-height: 20px;
    font-weight: 600;
}

.main_text_subtitle {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.main_text_subtitle:hover {
    text-decoration: underline;
    color: #01813F;
}

.main_text_square {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #3CB878;
    left: 0;
}

.main_data {
    display: flex;
    flex-direction: column;
}

.main_data_label {
    margin-bottom: 15px;
    width: 512px;
}

.main_data_label:nth-child(5) {
    margin-bottom: 12px;
}

.main_data_label_gap {
    padding: 15px 0 15px 20px;
    width: 100%;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    background: radial-gradient(black, transparent);
}

.main_data_label_gap:focus {
    background: radial-gradient(black, transparent);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
    color: white;
}

::placeholder {
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.main_data_radio {
    margin: 10px 0;
    color: white;
    display: flex;
}

.main_data_radio_text {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
}

.main_data_radio_label {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.main_data_radio_label_input {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}


.main_data_dropdown {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 7px 0 7px 0;
    display: flex;
    flex-direction: column;
}

.main_data_dropdown_select {
    margin-top: 15px;
    padding: 15px 0 15px 20px;
    width: 100%;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    background: radial-gradient(black, transparent);
    color: white;

}

.main_data_dropdown_select option {
    color: black;
}

.main_data_confirmation_text {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    margin-left: 8px;
}

.main_data_confirmation {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.main_data_confirmation_box {
    position: absolute;
    opacity: 0;
}

.main_data_confirmation_box_line {
    height: 20px;
    width: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    position: relative;
}

.main_data_confirmation_box_line:after {
    position: absolute;
    left: 1px;
    top: 5px;
    width: 16px;
    height: 6px;
    border-left: 2px solid #01813F;
    border-bottom: 2px solid #01813F;
    transform: rotate(-52deg);
}

.main_data_confirmation_box_line:after {
    content: " ";
    display: none;
}

.main_data_confirmation_box:checked ~ .main_data_confirmation_box_line:after {
    display: block;
}

/*                                  */
.main_data_confirmation_text_color {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.main_data_confirmation_text_color:hover {
    color: #01813F;
    text-decoration: underline;
}

.main_data_btn {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    padding: 16px 0;
    font-size: 16px;
    line-height: 16px;
    color: white;
    margin-bottom: 28px;
    cursor: pointer;
}

.main_data_btn:hover {
    background: #01813F;
    transition: .5s;
}

@keyframes rotateLetter {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header_navbar_icon_letter:hover {
    animation: rotateLetter 2s linear infinite;
}